
.banner{
    text-align: center;
    margin:10 0px;
}
.banner-first{
    width: 1320px;
    height: 660px;
    color: rgb(245, 244, 243);
    border: 1px solid lightskyblue;
    background-image: url('../images/Banner\ Image.png'); 
}
.banner-title {
    color:rgb(227, 234, 241);
    font-size: 70px;
}
.banner-first h2{
    text-align: center;
}
.banner-subtitle{
    font-size: 60px;
    text-align: center;
    font-style: normal;
    line-height: 85px;
    width:400px;
}
.discount{
    color:red;
    font-size: 40px;
}
.discount-dills{
    color:red;
}
.discount-cata{
    color: blue;
}